.popup {
    display: none;
    position: absolute;
    height: 370px;
    width: 470px;
    top: 123px;
    left: 50%;
    margin-left: -220px;
    
}
@media all and (max-width: 767px) {
    .popup {
        width: 282px;
        height: 348px;
    }
}
@media all and (max-width: 767px) {
    .popup {
        top: 80px;
        left: 50%;
        margin-left: -140px;
    }
}