.popup__containers{
    position: fixed;
    width: 470px;
    top: 50%;
    left: 50%;
    margin-left: -220px;
}
@media all and (max-width: 767px) {
    .popup__containers {
        width: 282px;
        height: 348px;
    }
}
@media all and (max-width: 767px) {
    .popup__containers {
        top: 80px;
        left: 50%;
        margin-left: -140px;
    }
}